@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    margin: 0;
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
}

.container_general{
  width: 100%;
  min-width: 750px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  text-align: center;
}

.container{
    width: 90%;
    max-width: 100%;
    min-width: 750px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    position: absolute;
    text-align: center;
}

#contenedor_padre{
  display: block;
  position: absolute;
}

/* --------------------------GRID---------------------------------- */

.grid-articulos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(150px, 250px);
    transition: all 0.6s;
}

.btn-agregar{
  position: relative;
  padding: 5px;
}

.btn-danger{
  margin-top: 25px;
  color: aqua;
  justify-content: center;
}

.btn-danger:hover{
  color: blue;
  background: aqua;
}

.articulos{
  width: 100%;
  height: 35%;
}

.articulos:hover{
  border: 1px solid blue;
  transform: scale(1.01);
  box-shadow:0 0 20px 1px rgba(43, 255, 0, 0.9);
  transition: all 0.4s;
}

.contenedor_precio_total{
  background: rgba(0, 0, 0, 0.9);
  color: lightblue;
  border: 1px solid lightblue;
  position: sticky;
  left: 0;
  bottom: 50px;
  margin-left: 50px;
  margin-bottom: 30px;
  padding: 5px;
}


/* ------------------------------------------- */

img{
  height: 100%;
}

td{
  height: 100px;
}

h2{
 text-align: center;
 color:gray;
}

.precio{
 display:block;
 font-size:22px;
}

.precio::before{
  content:"$";
}

.btn_comprar{
  font-size: 22px;
  position: sticky;
  left: 0;
  bottom: 0;
  margin-left: 50px;
  margin-bottom: 30px;
  padding: 5px;
}

.btn_eliminar_total_carrito{
  font-size: 22px;
  position: sticky;
  right: 0;
  bottom: 0;
  margin-right: 50px;
  margin-bottom: 30px;
  padding: 5px;
}

#contenedor-carrito{
  position: sticky;
  z-index: 1;
  width: 30%; 
  height: 70vh;
  background-color: black; 
  overflow-y: scroll;
}

#thead{
  height: auto;
}


#listaProductos{
width: 70%;
}

#contenedorPadre{
display:flex;
}

#contenedor-productos{
  border: 1px solid red;
  padding: 10px;
  margin: 20px;
}